# Конфигурация Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka1:9093,kafka2:9092,kafka3:9092
KAFKA_API_VERSION=7.7.0

# Конфигурация приложения
APP_NAME=message-filter-system
LOG_LEVEL=INFO

# Пути для хранения данных
DATA_DIR=/data
BLOCKED_USERS_PATH=/data/blocked_users
BANNED_WORDS_PATH=/data/banned_words

# Конфигурация топиков
MESSAGES_TOPIC=messages
FILTERED_TOPIC=filtered_messages
BLOCKED_USERS_TOPIC=blocked_users
BANNED_WORDS_TOPIC=banned_words